/* filter.module.css */
.filter {
  /* min-width: 1200px; */
  display: flex;
  gap: 10px;
  font-size: 17px;
}

.filterContainer {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.row {
  display: grid;
  grid-template-columns: repeat(2, 1fr) repeat(2, 0.72fr);
  justify-content: space-between;
  gap: 8px;
}

.filterBox {
  display: flex;
  align-items: center;
  margin-right: 10px;
}

.filterBox label {
  color: #4b5563;
}

.filterBox input {
  width: 48px;
  padding: 6px;
  border: 1px solid #d1d5db;
  border-radius: 6px;
  outline: none;
  text-align: center;
}

.filterBox span {
  margin: 0 5px;
  color: #6b7280;
}


.filterBoxLong {
  display: flex;
  align-items: center;
}

.filterBoxLong label {
  color: #4b5563;
}

.filterBoxLong input {
  width: 80px;
  padding: 6px;
  border: 1px solid #d1d5db;
  border-radius: 6px;
  outline: none;
  text-align: center;
}

.filterBoxLong span {
  margin: 0 5px;
  color: #6b7280;
}
