
.containerAll {
  min-width: 1350px;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 30px;
}

.container {
  width: 1350px;
  padding: 2rem 1rem;
}

.eruteShopping{
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  margin-bottom: 60px;
  color: inherit;
}


.eruteShoppingFont {
  display: flex;
  font-size: 40px;
  font-weight: bold;
  text-decoration: none;
  /* font-family: 'Roboto', sans-serif; */
}

.noProduct {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  font-weight: 600;
  color: #6b7280;
  margin-top: 20px;
  height: 300px;
}

.productGrid {
  margin-top: 20px;
  margin-left: 30px;
  margin-right: 30px;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 24px;
  color: inherit;
  text-decoration: none;
}

.productCard {
  color: inherit;
  border-radius: 11px;
  overflow: hidden;
  transition: box-shadow 0.3s ease;
  padding: 3.5px 3.5px;
}

.productCard:hover {
  box-shadow: 0 0 0 1px rgba(255, 80, 0, 1);
  /* outline: 1.5px solid #ff5000;
  outline-offset: 4px; */
}

.productImage {
  width: 100%;
  object-fit: cover;
  margin-bottom: -28px;
  border-radius: 8px;
  aspect-ratio: 1/1;
}

.productLink {
  position: relative;
  display: inline-block;
}

.priceTag {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  font-weight: bold;
}

.lowest {
  background-color: rgba(255, 69, 0, 0.5);
}

.lowBox {
  margin-top: -6px;
  background-color: rgba(255, 69, 0, 0.5);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: none;
}

.lower {
  background-color: rgba(244, 67, 54, 0.5);
}

.higher {
  background-color: rgba(76, 175, 80, 0.5);
}

.unchanged {
  background-color: rgba(35, 190, 246, 0.5);
}


.productInfo {
  color: inherit;
  height: 140px;
  padding-left: 4px;
  padding-right: 4px;
  padding-top: 16px;
  padding-bottom: 36px;
  background-color: white;
}

.productLink {
  text-decoration: none;
  color: inherit;
}

.productName {
  display: -webkit-box;
  -webkit-line-clamp: 2; 
  line-clamp: 2;   
  -webkit-box-orient: vertical;
  font-weight: 400;
  font-size: 17px;
  overflow: hidden;
  text-overflow: ellipsis;
  color: inherit;
  line-height: 1.5;
  height: calc(1.5em * 2);
}

.platformIconJD {
  background-color: #ff1500;
  border-radius: 4px;
  height: 14px;
  width: 14px;
  margin-right: 8px;
  font-size: 12px;
  padding-left: 3px;
  padding-right: 3px;
  padding-top: 1px;
  padding-bottom: 1px;
  color: white;
}

.platformIconTB {
  background-color: #ff6000;
  border-radius: 4px;
  height: 14px;
  width: 14px;
  margin-right: 8px;
  font-size: 12px;
  padding-left: 3px;
  padding-right: 3px;
  padding-top: 1px;
  padding-bottom: 1px;
  color: white;
}

.platformIconTM {
  background-color: #ff1e00;
  border-radius: 4px;
  height: 14px;
  width: 14px;
  margin-right: 8px;
  font-size: 12px;
  padding-left: 3px;
  padding-right: 3px;
  padding-top: 1px;
  padding-bottom: 1px;
  color: white;
}


.productPriceSales {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  margin-bottom: 8px;
}

.productIcon {
  color: #ff5000;
  font-weight: 700;
}

.productPrice {
  color: #ff5000;
  font-size: 22px;
  font-weight: 700;
  margin-bottom: -2px;
}

.productSales {
  font-size: 15px;
  color: #6b7280;
}

.productRating {
  display: flex;
  align-items: center;
}

.starIcon {
  margin-left: 10px;
  height: 18px;
  width: 18px;
  color: #fbbf24;
  fill: currentColor;
}

.ratingValue {
  margin-left: 4px;
  font-size: 16px;
  color: #4b5563;
}

.scaleButton {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
}

.scaleIcon {
  height: 18px;
  width: 18px;
  margin-top: 4px;
  margin-left: 16px;
  color: #9ca3af;
  transition: color 0.3s ease;
}

.scaleIcon:hover {
  color: #282c34;
}

.scaleIconToolTip {
  position: absolute;
  background-color: gray;
  color: white;
  padding-top: 0px;
  padding-bottom: 4px;
  padding-left: 8px;
  padding-right: 8px;
  border-radius: 6px;
  font-size: 16px;
  opacity: 0;
  z-index: 100;
  transition: opacity 0.15s;
  pointer-events: none;
  white-space: nowrap;
  margin-left: -30px;
}

.scaleButton:hover .scaleIconToolTip {
  opacity: 1;
}

.scaleIconFilled {
  color: #282c34;
  fill: #282c34;
}



.trashButton {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
}

.trashIcon {
  margin-left: 12px;
  height: 18px;
  width: 18px;
  margin-top: 4px;
  color: #9ca3af;
  transition: color 0.3s ease;
}

.trashIcon:hover {
  color: #282c34;
}

.trashIconToolTip {
  position: absolute;
  background-color: gray;
  color: white;
  padding-top: 0px;
  padding-bottom: 4px;
  padding-left: 8px;
  padding-right: 8px;
  border-radius: 6px;
  font-size: 16px;
  opacity: 0;
  z-index: 100;
  transition: opacity 0.15s;
  pointer-events: none;
  white-space: nowrap;
  margin-left: -27px;
}

.trashButton:hover .trashIconToolTip {
  opacity: 1;
}

.productDetail {
  padding-top: 6px;
  padding-bottom: 4px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.detailButton {
  text-decoration: none;
  width: 100%;
  padding: 9px 18px;
  background-color: #595f69;
  color: #ffffff;
  border-radius: 6px;
  border: none;
  transition: background-color 0.3s;
  display: flex;
  align-items: center;
  justify-content: center;
}

.detailButton:hover {
  background-color: #282c34;
  cursor: pointer;
}
