.body {
  font-family: 'Noto Sans SC', sans-serif;
}

.body::before {
  background-image: url('img/background.png');
  opacity: 0.08;
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1; /* 确保伪元素在背景层 */
}

.navbar {
  width: 100%;
}

.main {
  margin-top: 62px;
}
